.footer-section {
  color: var(--white-2);
  background-color: var(--violet);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-description {
  font: 500 24px / 1.17 var(--font-family);
  letter-spacing: 0.02em;
  text-align: start;
  max-width: 284px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-style: normal;
}

.footer-contact p,
.footer-socials p {
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  margin-bottom: 14px;
}

.contact-list {
  flex-direction: column;
  gap: 8px;
}

.contact-link {
  color: var(--white-2);
  transition: color 0.3s ease-in-out;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--orange);
}

/* .footer-socials {
  display: flex;
  gap: 15px;
} */

.footer-social-list {
  gap: 12px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  transition: stroke 0.3s;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: var(--orange);
}

.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 335px;
  height: 0px;
}

.footer-nav {
  margin-top: 10px;
}

.footer-menu {
  flex-direction: column;
  gap: 18px;
  text-align: start;
  font: 500 14px / 1.14 var(--font-family);
  letter-spacing: 0.02em;
}

.footer-link {
  color: var(--white-2);
  transition: color 0.3s;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--orange);
}

.footer-subscribe {
  display: flex;
  gap: 8px;
}

.subscribe-input {
  font: 400 14px var(--font-family);
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--gray);
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  padding: 14px 18px;
  width: 204px;
}

.subscribe-input:focus {
  border-color: var(--orange);
}

.subscribe-button {
  padding: 14px 26px;
  color: var(--white-2);
  background-color: var(--orange);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--white-2);
  color: var(--orange);
}

.footer-social-icon {
  stroke: var(--white-2);
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .footer-section {
    padding-bottom: 0;
  }

  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-line {
    width: 100%;
    margin-top: 18px;
    margin-bottom: -8px;
  }

  .footer-menu {
    flex-direction: row;
  }

  .footer-socials {
    order: -1;
  }

  .footer-description {
    order: -2;
    margin-right: 64px;
  }

  .tab-hidden {
    display: none;
  }
  .footer-nav {
    margin: auto auto auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: auto;
  }
}
