/* Стилі для шапки */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}

.header-logo span {
  font-style: italic;
  letter-spacing: 0.04em;
}

.logo-link {
  text-transform: uppercase;
  display: flex;
  gap: 4px;
}

/* Іконка меню */
.btn-menu-container {
  display: flex;
}

.vector-input-btn {
  display: none; /* Ховаємо чекбокс */
}

.vector-label-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28px; /* Ширина іконки */
  height: 28px; /* Висота іконки */
  cursor: pointer;
}

.vector-btn {
  position: relative;
}

.vector-btn,
.vector-btn::before,
.vector-btn::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px; /* Висота ліній */
  background-color: var(--black); /* Колір ліній */
  transition: 0.3s; /* Анімація для зміни стану */
}

.vector-btn::before,
.vector-btn::after {
  position: absolute;
}

.vector-btn::before {
  top: -7px;
}

.vector-btn::after {
  top: 7px;
}

/* Анімація на відкриття/закриття меню */
.vector-input-btn:checked + .vector-label-btn .vector-btn {
  background-color: transparent; /* Середня лінія зникає */
}

.vector-input-btn:checked + .vector-label-btn .vector-btn::before {
  transform: rotate(45deg); /* Поворот верхньої лінії */
  top: 0;
}

.vector-input-btn:checked + .vector-label-btn .vector-btn::after {
  transform: rotate(-45deg); /* Поворот нижньої лінії */
  top: 0;
}
