.hero-section {
  color: var(--white-2);
  padding-top: 16px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("../images/chocolate_main-mob-1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 620px;
  border-radius: 32px;
  padding: 20px;
  gap: 32px;
}

.hero-title {
  color: var(--white-2);
}

.hero-buttons {
  display: flex;
  gap: 14px;
  justify-content: center;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  font: 600 14px var(--font-family);
  color: var(--white-2);
  transition: background 0.3s;
}

.btn-primary {
  background-color: var(--orange);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--white-2);
}

.btn:hover {
  opacity: 0.8;
}

.scroll-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 14px;
}

.scroll-text {
  font: 500 12px / 1.17 var(--font-family);
  letter-spacing: -0.03em;
  color: var(--white-2);
}

.scroll-icon {
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--white-2);
}

.scroll-icon span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--white-2);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 1s infinite;
}

.scroll-down {
  fill: var(--orange);
  animation: scroll 1s infinite;
  position: relative;
}

@keyframes scroll {
  0% {
    opacity: 1;
    top: 6px;
  }
  100% {
    opacity: 0.1;
    top: 12px;
  }
}
