.how-made-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-made-title {
  margin-bottom: 32px;
}

.text-accent {
  color: var(--orange); /* Глобальний акцентний колір */
}

.how-made-image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
}

.how-made-image {
  width: 100%;
  height: auto;
  display: block;
}

.how-made-description {
  text-align: left;
  padding: 0 20px;
}

.how-made-text-container {
  padding: 20px 14px;
  background-color: var(--white-2);
  border-radius: 16px;
  border: none;
}

.how-made-subtitle {
  line-height: 1.33;
  margin-bottom: 20px;
}

.how-made-steps-list {
  flex-direction: column;
  list-style: disc;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .how-made-text-container,
  .how-made-image-container {
    border-radius: 0;
  }

  .how-made-text-container {
    padding: 32px;
  }

  .how-made-subtitle {
    margin-bottom: 28px;
  }
}
