.ingredients-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.ingradients-title {
  display: block;

  margin: 0 auto 12px;
  max-width: 280px;
  text-align: center;
}

/* @media (min-width: 768px) {
  .ingredients-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.flip-card {
  perspective: 1000px; /* Додає 3D-ефект для обертання */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 270px; /* Висота картки */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Обертання на 180 градусів при наведенні */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  border-radius: 16px;
}

.flip-card-front img {
}

.flip-card-back {
  background-color: var(--white-2); /* Задає колір фону для зворотного боку */
  transform: rotateY(180deg); /* Повертає зворотний бік на 180 градусів */
  padding: 28px;
  justify-content: start;
}

.card-image {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto 16px;
}

.card-title {
  font: 600 14px / 1.29 var(--font-family);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-right: auto;
}

/* .flip-card-back {
  align-items: start;
} */

.card-title-back {
  margin-bottom: 8px;
}

.card-bg-orange {
  background-color: var(--orange);
  color: var(--white-2);
}

.card-bg-violet {
  background-color: var(--violet);
  color: var(--white-2);
}

.card-bg-white {
  background-color: var(--white-2);
  border: 1px solid var(--orange);
}

.card-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--white-2);
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-icon-arrow {
  fill: var(--white-2);
  animation: scroll 1s infinite;
  position: relative;
}

.card-arrow-orange {
  border: 1px solid var(--orange);
}

.card-arrow-orange .card-icon-arrow {
  fill: var(--orange);
}

@keyframes scroll {
  0% {
    opacity: 1;
    left: 6px;
  }
  100% {
    opacity: 0.1;
    left: 12px;
  }
}

.card-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.card-tag,
.card-tag-2 {
  background-color: var(--orange);
  padding: 5px 10px;
  border-radius: 15px;
  color: var(--white);
  font-size: 12px;
}

.card-tag-2 {
  background-color: var(--white);
  border: 1px solid var(--orange);
  color: inherit;
}

.card-description {
  font: 400 14px / 1.29 var(--font-family);
  letter-spacing: -0.02em;
}
