/* Бічне меню */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 136px 20px 20px;
  transition: right 0.4s ease; /* Плавний ефект відкриття */
  /* transform: translateX(100%); */
  z-index: 1000;
}

/* Показує меню при активному чекбоксі */
.side-menu.active {
  right: 0;
}

.vector-input-btn:checked + .vector-label-btn .vector-btn::before,
.vector-input-btn:checked + .vector-label-btn .vector-btn::after {
  background-color: var(--white-2);
}

/* Список меню */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font: 500 14px / 1.14 var(--font-family);
  letter-spacing: -0.02em;
  color: var(--white-2);
}

.menu-link {
  transition: color 0.3s;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--orange);
}

/* Соціальні мережі в меню */
.menu-socials {
  display: flex;
  gap: 12px;
  margin-right: auto;
}

.social-link {
  color: var(--white-2);
  transition: color 0.3s;
}

.social-icon {
  stroke: var(--white-2);
  transition: stroke 0.3s;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: var(--orange);
}

@media screen and (min-width: 768px) {
  .btn-menu-container {
    display: none;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-logo {
    flex: 1;
  }

  /* Відображення меню в рядок */
  .side-menu {
    position: static;
    flex-direction: row;
    align-items: center;
    transform: translateX(0);
    background-color: transparent;
    height: auto;
    padding: 0;
    width: auto;
  }

  .menu-list {
    flex-direction: row;
    gap: 24px;
    margin-right: 48px;
  }

  .menu-link {
    color: var(--black);
  }

  .menu-socials {
    flex-direction: row;
  }

  .social-icon {
    stroke: var(--black);
    fill: transparent;
  }
}
