.top-sellers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-sellers-title {
  text-align: center;
  margin-bottom: 12px;
}

.text-accent {
  color: var(--orange); /* Глобальний акцентний колір */
}

.top-seller-card {
  position: relative;
  width: 100%;
  max-width: 344px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-seller-image-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 464px;
  display: flex;
  align-items: center;
}

.card-img {
  background-image: url("../images/bg-sellers-mob-1x.png");
}

.top-seller-description {
  color: var(--white); /* Глобальний білий текст */
  background: transparent; /* Напівпрозорий фон */
  padding: 0 20px;
  letter-spacing: 0.02em;
}

.top-seller-name {
  font: 18px / 1.33 var(--font-family);
  font-weight: var(--font-weight-semiBold);
  text-transform: uppercase;
  padding: 28px 52px;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: -0.03em;
}

.seller-card-3,
.seller-card-2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-sellers-container {
    display: flex;
  }

  .sellers-card-container {
    display: flex;
    gap: 16px;
  }

  .card-img p:first-of-type {
    display: none;
  }

  .card-img {
    background-image: url("../images/tab/sellers-left-tab-1x.png");
  }

  .seller-card-2 {
    display: flex;
    flex-direction: column;
  }

  .seller-img-2 {
    background-image: url("../images/tab/sellers-center-tab-1x.png");
  }

  .top-seller-description {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .top-seller-card {
    min-width: 368px;
  }

  .seller-card-3 {
    display: inline-block;
    flex-direction: column;
  }

  .seller-img-3 {
    background-image: url("../images/desk/sellers-right-desk-1x.png");
  }
}
